@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  /* transition: all 3s ease-in-out; */
  /* transition-duration: 300ms; */
  /* transition-delay: 300ms; */
  transition: background-color 0.3ms ease, color 0.3ms ease;
  transition: color 0.3ms ease, color 0.3ms ease;
}
body.dark {
  /* transition: all 3s ease-in-out; */
  /* transition-duration: 300ms; */
  /* transition-delay: 300ms */
  transition: background-color 0.3ms ease, color 0.3ms ease;
}
